head
  meta(charset="UTF-8")
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src='/socket.io/socket.io.js')

  script(src='/bootstrap/js/bootstrap.js')
  link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

  link(href='/bootstrap/css/bootstrap.css', rel = 'stylesheet')
  script(src='/emoji/emojionearea.min.js')
  link(href='/emoji/emojionearea.min.css', rel = 'stylesheet')
  link(href='stylesheets/style.css', rel = 'stylesheet')
body
  block content 
